<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>lab.gater</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/rj/dev/golab/gater/bin/server</string>
        <string>--port</string>
        <string>8888</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/rj/tmp</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/gater.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/gater.err.log</string>
</dict>
</plist>